language: php
php:
  - 5.3

branches:
  only:
    - master
    - staging

notifications:
  email:
    recipients:
      - build@barrett.io
    on_success: always
    on_failure: always

env:
  global:
    # PAGODABOX_USERNAME
    - secure: "c3tOOwmueCSeVub6VE1qFL7bGVlC4Xj1BIYSU89Z9iJpgjokn0O1dW1cGwuv\nf/jQdPBhWmi42gw7Jvzc6q4H05CgIvkOedcSxdiQXIU7a5oc+80PCt48WTtb\nroYNcLQXAvzC6gbu+9lhtkjpd1H6xcnrkmbKi2LCIOEQAfOgmk4="
    # PAGODABOX_PASSWORD
    - secure: "GW+XkC47U2mEAsFAXzN4sHcQLuVanglBH+IleBdaNn1yMvFA427hdFvJWoO0\nTkAJJZibdpMQ8fjlx/gwmj/b5W8xgP5jMcrLWCurDBWh8AR2gRvUbrZE45Sn\n4D1DRiOkw+UV9LYbdWpM+i+zj4sdHlZmuV2AkvgMEgB15uCSB40="
    # PAGODABOX_APP
    - PAGODABOX_STAGING=staging-barrett-io
    - PAGODABOX_PROD=barrett-io
    # Text output colors
    - GREEN=$(tput setaf 2)
    - RED=$(tput setaf 1)
    - NORMAL=$(tput sgr0)

before_install:
  - git submodule update --init --recursive
  - if [ "$TRAVIS_BRANCH" == "master" ]; then export PAGODABOX_APP=$PAGODABOX_PROD; else export PAGODABOX_APP=$PAGODABOX_STAGING; fi

script:
  ### TESTS ###
  # Verify Pagodabox Boxfile exists
  - "[ ! -f ./Boxfile ] && echo \"${RED}Pagodabox Boxfile Missing.\""
  - echo $?
  ### DEPLOYMENT ###
  - echo $TRAVIS_TEST_RESULT
  # Deploy to Pagodabox
  - echo "${GREEN}Deploying branch '$TRAVIS_BRANCH' to '$PAGODABOX_APP'"
  - ssh-keygen -N "" -f ~/.ssh/pagoda
  - gem install pagoda
  - pagoda --username=$PAGODABOX_USERNAME --password=$PAGODABOX_PASSWORD key:push --file=$HOME/.ssh/pagoda.pub
  - echo "Host git.pagodabox.com" >> ~/.ssh/config
  - echo "   StrictHostKeyChecking no" >> ~/.ssh/config
  - echo "   CheckHostIP yes" >> ~/.ssh/config
  - echo "   UserKnownHostsFile=/dev/null" >> ~/.ssh/config
  - echo "   IdentityFile=${HOME}/.ssh/pagoda" >> ~/.ssh/config
  - echo "   IdentitiesOnly yes" >> ~/.ssh/config
  - git remote add pagoda git@git.pagodabox.com:$PAGODABOX_APP.git
  - if [ "$TRAVIS_TEST_RESULT" -eq "0" ]; then git push --force pagoda $TRAVIS_BRANCH; fi
  - if [ "$TRAVIS_TEST_RESULT" -eq "0" ]; then pagoda --username=$PAGODABOX_USERNAME --password=$PAGODABOX_PASSWORD --app=$PAGODABOX_APP deploy; else echo "${RED}Build failed.  Skipping Pagoda deployment."; fi
